@font-face {
  font-family: 'StateFaceRegular';
  src: url('../fonts/stateface/webfont/stateface-regular-webfont.eot?1435100330');
  src: url('../fonts/stateface/webfont/stateface-regular-webfont.eot?&1435100330#iefix') format("embedded-opentype"), url('../fonts/stateface/webfont/stateface-regular-webfont.woff?1435100330') format("woff"), url('../fonts/stateface/webfont/stateface-regular-webfont.ttf?1435100330') format("truetype"), url('../fonts/stateface/webfont/stateface-regular-webfont.svg?1435100330#StateFaceRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}

html,
body,
#content {
  font-family: "Open Sans Condensed", helvetica, arial, sans-serif;
  color: #220;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
}

a, a:visited, a:active {
  color: #220;
  text-decoration: none;
}

.right-column,
.left-column {
  position: absolute;
  height: 100%;
  box-sizing: border-box;
}

.left-column {
  width: 100%;
  max-width: 300px;
  padding-top: 100px;
  border-right: 1px solid #999;
}

.right-column {
  width: calc(100% - 300px);
  margin-left: 300px;
  overflow-y: scroll;
}

.profile-card {
  width: 100%;
  text-align: center;
}

.mission {
  max-width: 200px;
  margin: auto;
}

.work-container {
  padding-top: 25px;
}

section {
  border-bottom: 1px solid #999;
  padding: 50px 50px 25px 50px;
}

article {
  display: inline-block;
  max-width: 300px;
  margin-right: 25px;
  margin-top: 25px;
  vertical-align: top;
  cursor: default;
}

@media (max-width: 768px) {
  .right-column,
  .left-column {
    position: static;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .right-column {
    margin-left: 0;
  }
}
