mixin work(job)
  a(href=job.url target='_blank')
    article
      img(src=job.image)
      .article-text
        h4.article-title= job.title
        p.article-description= job.description

.left-column
  .profile-card
    .image-container
      img(src='images/face2.jpg')
    h2.name-container Gabe Isman
    p.mission Constantly seeking ways to increase peace, justice, and openness.
    .social-links
      a.social-link(href="https://twitter.com/gabeisman")
        i.fa.fa-twitter
      a.social-link(href="https://github.com/gabeisman")
        i.fa.fa-github
      a.social-link(href="https://www.linkedin.com/pub/gabriel-isman/17/62a/139")
        i.fa.fa-linkedin

.right-column
  section
    h1 Projects
    .work-container
      each project in projects
        +work(project)
  section
    h1 9-to-5s
    .work-container
      each job in jobs
        +work(job)
