mixin work(job)
  article
    img(src=job.image)
    .article-text
      a(href=job.url target='_blank')
        h4.article-title= job.title
      p.article-description= job.description

.left-column
  .profile-card
    .image-container
      img(src='images/face2.jpg')
    h2.name-container Gabe Isman
    p.mission Constantly seeking ways to increase peace, justice, and openness.
.right-column
  section
    h1 Projects
    .work-container
      each project in projects
        +work(project)
  section
    h1 9-to-5s
    .work-container
      each job in jobs
        +work(job)
