* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#content {
  font-family: "Montserrat", sans-serif;
  color: #220;
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
}

p {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: 600;
  margin-top: 5px;
}

a, a:visited, a:active {
  color: #220;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

.right-column,
.left-column {
  position: absolute;
  height: 100%;
}

.left-column {
  width: 100%;
  max-width: 300px;
  padding-top: 100px;
  border-right: 1px solid #999;
}

.right-column {
  width: calc(100% - 300px);
  margin-left: 300px;
  overflow-y: scroll;
}

.profile-card {
  width: 100%;
  text-align: center;
}

.image-container {
  margin-bottom: 10px;
}
.image-container img {
  width: 100px;
  border-radius: 100%;
}

.mission {
  max-width: 200px;
  margin: auto;
}

.social-links {
  margin-top: 15px;
}

.social-link {
  font-size: 16px;
  padding: 0 10px;
}

.work-container {
  padding-top: 25px;
  width: 100%;
}

section {
  border-bottom: 1px solid #999;
  padding: 50px 50px 25px 50px;
}

article {
  display: inline-block;
  position: relative;
  max-width: 300px;
  margin-right: 25px;
  margin-bottom: 25px;
  vertical-align: top;
  cursor: default;
  width: 300px;
  height: 169px;
  -webkit-font-smoothing: antialiased;
}
article img {
  width: 100%;
}
article:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity .2s ease-out;
          transition: opacity .2s ease-out;
  background-color: #000;
  opacity: 0.75;
}
article:hover:before {
  opacity: 0.5;
}
article:hover p {
  color: #fff;
  font-weight: 600;
}

.article-text {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  text-align: left;
}

.article-title {
  padding: 10px;
  color: #fff;
}

.article-description {
  width: 300px;
  padding: 0 10px;
  color: #ddd;
}

@media (max-width: 700px) {
  .right-column,
  .left-column {
    position: static;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .right-column {
    margin-left: 0;
  }

  h1 {
    text-align: center;
  }

  article {
    margin: 0 auto 25px auto;
  }

  .work-container {
    text-align: center;
  }

  .social-link {
    font-size: 20px;
    padding: 0 15px;
  }
}
